# GITIGNORE FILE
# Idea files
.idea/
CMakeLists.txt
*.stackdump
*.log
*.dump

# temporal output vim
*.swp

# output objects in c
*.o
a.out

# output compile, exept Makefile
src/bin
!src/bin/Makefile

# Post Script
*.ps
